html, body {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #a0e2ea;
    font-family: monospace;
    text-align: center;
}
main {
    position: relative;
    width: 960px;
    height: 600px;
    margin: auto;
}
canvas {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    
    border-radius: 4px;
}
#canvas {
    background-color: #bbedf3;
}
footer {
    margin-top: 1em;
}
a {
    color: #71cad4;
    text-decoration: none;
}
a:hover {
    color: #2f98a3;
}